default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  host: db
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: movie_development

test:
  <<: *default
  database: movie_test

production:
  <<: *default
  database: movie_production
  username: movie
  password: <%= ENV["MOVIE_DATABASE_PASSWORD"] %>
